bertopic==0.16.4
boto3==1.35.97
choix==0.3.6
# cuml-cu12==24.12.0
dspy==2.5.43
Flask==3.1.0
gensim==4.3.3
hdbscan==0.8.40
irrCAC==0.4.4
joblib==1.4.2
kneed==0.8.5
matplotlib==3.10.0
networkx==3.4.2
ollama==0.4.5
openai==1.59.6
pandas==2.2.3
python-dotenv==1.0.1
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==3.3.1
tomotopy==0.13.0
torch==2.5.1
tqdm==4.67.1